# ASSIGNMENT CONFIG
requirements: requirements.txt
solutions_pdf: true
export_cell:
    instructions: "Upload the generated zip file to the Google sheet please. Uploading work which is not yours will lead to non admittance."
generate: 
    pdf: false
    filtering: false
    pagebreaks: true
    zips: true

## DSA 2023 Summer School Admittance Check

Thanks for your interest in attending DSA Kigali 2023. To attend the summer school you have to have some level of basic Python proficiency. Completing the following notebook should ensure you have the right kind of background to benefit maximally from the Summer School. See you in Kigali!

In [1]:
# Run these once ... Just in case 
#!pip install nose 
#!pip install otter-grader
import IPython
from IPython import get_ipython
# Import the good stuff
import pandas as pd
import numpy as np
import math
from nose.tools import assert_equal
import otter
grader = otter.Notebook()

# BEGIN QUESTION
name: q1
points: 2

**Question 1:** Write a Python function to return a tuple of primes and non primes given an integer input

# BEGIN SOLUTION

In [2]:
# BEGIN SOLUTION
def sieve(num):
    prime = [True for i in range(num+1)]
    prime_list = []
    not_prime_list = []
    
    # boolean array
    p = 2
    while (p * p <= num):

        # If prime[p] is not
        # changed, then it is a prime
        if (prime[p] == True):

            # Updating all multiples of p
            for i in range(p * p, num+1, p):
                prime[i] = False
        p += 1
   
    p = 2
    # Create the lists 
    for p in range(2, num+1):
        if prime[p]:
            prime_list.append(p)
        else: 
            not_prime_list.append(p)
   
    # Create the tuple 
    prime_list_tuple = tuple(prime_list)
    not_prime_list_tuple = tuple(not_prime_list)
    return_tuple = (prime_list_tuple, not_prime_list_tuple)
    return(return_tuple)
# END SOLUTION
num = 30
print("Following are the prime and non prime numbers smaller than or equal to", num)
print(sieve(num))

Following are the prime and non prime numbers smaller than or equal to 30
((2, 3, 5, 7, 11, 13, 17, 19, 23, 29), (4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30))

# END SOLUTION

# BEGIN TESTS

In [3]:
# BEGIN TEST CONFIG
points: 2
# END TEST CONFIG
def test_primes(sieve):
    assert sieve(30) == ((2, 3, 5, 7, 11, 13, 17, 19, 23, 29), (4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30))
test_primes(sieve)

In [4]:
# HIDDEN
def test_higher_primes(sieve):
    assert sieve(100) == ((2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97), (4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100))
    assert sieve(200) == ((2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199), (4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100, 102, 104, 105, 106, 108, 110, 111, 112, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 128, 129, 130, 132, 133, 134, 135, 136, 138, 140, 141, 142, 143, 144, 145, 146, 147, 148, 150, 152, 153, 154, 155, 156, 158, 159, 160, 161, 162, 164, 165, 166, 168, 169, 170, 171, 172, 174, 175, 176, 177, 178, 180, 182, 183, 184, 185, 186, 187, 188, 189, 190, 192, 194, 195, 196, 198, 200))
test_higher_primes(sieve)

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q2

**Question 2:** Create a dictionary to store the type and number of unique characters in the paragraph provided

# BEGIN SOLUTION

In [5]:
paragraph = "The following is sample text I used to practice special characters using keybr.com: 112233445566778899 Saturn V rocket’s first stage carries 203,400 gallons (770,000 liters) of kerosene fuel and 318,000 gallons (1.2 million liters) of liquid oxygen needed for combustion. At liftoff, the stage’s five F-1 rocket engines ignite and produce 7.5 million pounds of thrust. To replace those goofy quantities with the far less retarded metric system (even though liters are considered part of the metric system they are the same as cubic deci-meters) you would say 770 cubic meters of kerosene {abbreviated as m3} and 1,204 m3 of liquid O2 [O2 is the symbol for oxygen]. We would also say it produced 33,600,000 newtons of force <abbreviated as N>. To add scientific notation {a way of writing numbers that allows you to write only as many digits `of specificity` as you would like} you can write 7.7 * 10 ^ 2 m3 of kerosene 1.204 * 10 ^ 3 m3 of O2 and 3.3 * 10 ^ 7 newtons. Another way to write scientific notation is to replace the “* 10 ^” with ‘E’ -/capital e\-. So our numbers would look like:s"
# BEGIN SOLUTION
from collections import Counter 
dictionary = Counter(paragraph)
# END SOLUTION
print(dictionary)

Counter({' ': 192, 'e': 89, 'o': 68, 't': 65, 'i': 60, 's': 57, 'a': 48, 'r': 45, 'n': 42, 'l': 35, 'c': 31, 'd': 27, 'f': 26, 'u': 26, '0': 22, 'm': 20, 'y': 19, 'h': 17, 'w': 16, 'g': 14, '3': 13, '.': 12, 'p': 11, 'b': 11, '1': 11, '2': 10, '7': 10, 'k': 9, ',': 7, '4': 5, 'v': 4, '-': 4, '*': 4, '^': 4, 'T': 3, 'x': 3, '5': 3, '6': 3, '8': 3, '’': 3, '(': 3, ')': 3, 'q': 3, 'O': 3, ':': 2, '9': 2, 'S': 2, 'A': 2, '{': 2, '}': 2, '`': 2, 'I': 1, 'V': 1, 'F': 1, '[': 1, ']': 1, 'W': 1, '<': 1, 'N': 1, '>': 1, '“': 1, '”': 1, '‘': 1, 'E': 1, '/': 1, '\\': 1})

# END SOLUTION

# BEGIN TESTS

In [6]:
# BEGIN TEST CONFIG
points: 2
# END TEST CONFIG
def test_dictionary(Counter):
    assert Counter(paragraph) == {' ': 192, 'e': 89, 'o': 68, 't': 65, 'i': 60, 's': 57, 'a': 48, 'r': 45, 'n': 42, 'l': 35, 'c': 31, 'd': 27, 'f': 26, 'u': 26, '0': 22, 'm': 20, 'y': 19, 'h': 17, 'w': 16, 'g': 14, '3': 13, '.': 12, 'p': 11, 'b': 11, '1': 11, '2': 10, '7': 10, 'k': 9, ',': 7, '4': 5, 'v': 4, '-': 4, '*': 4, '^': 4, 'T': 3, 'x': 3, '5': 3, '6': 3, '8': 3, '’': 3, '(': 3, ')': 3, 'q': 3, 'O': 3, ':': 2, '9': 2, 'S': 2, 'A': 2, '{': 2, '}': 2, '`': 2, 'I': 1, 'V': 1, 'F': 1, '[': 1, ']': 1, 'W': 1, '<': 1, 'N': 1, '>': 1, '“': 1, '”': 1, '‘': 1, 'E': 1, '/': 1, '\\': 1}
test_dictionary(Counter)  # IGNORE

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q3

**Question 3:** Extract the values from the dictionary above into a list

# BEGIN SOLUTION

In [7]:
# BEGIN SOLUTION
keysList = list(dictionary.keys()) 
# END SOLUTION
print (keysList)

['T', 'h', 'e', ' ', 'f', 'o', 'l', 'w', 'i', 'n', 'g', 's', 'a', 'm', 'p', 't', 'x', 'I', 'u', 'd', 'r', 'c', 'k', 'y', 'b', '.', ':', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'S', 'V', '’', '0', ',', '(', ')', 'q', 'A', 'v', 'F', '-', '{', '}', 'O', '[', ']', 'W', '<', 'N', '>', '`', '*', '^', '“', '”', '‘', 'E', '/', '\\']

# END SOLUTION

# BEGIN TESTS

In [8]:
# BEGIN TEST CONFIG
points: 2
# END TEST CONFIG
def test_keyslist():
    assert list(dictionary.keys()) == ['T', 'h', 'e', ' ', 'f', 'o', 'l', 'w', 'i', 'n', 'g', 's', 'a', 'm', 'p', 't', 'x', 'I', 'u', 'd', 'r', 'c', 'k', 'y', 'b', '.', ':', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'S', 'V', '’', '0', ',', '(', ')', 'q', 'A', 'v', 'F', '-', '{', '}', 'O', '[', ']', 'W', '<', 'N', '>', '`', '*', '^', '“', '”', '‘', 'E', '/', '\\']
test_keyslist()

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q4

**Question 4:** Extract the keys from the dictionary above into a list

# BEGIN SOLUTION

In [9]:
# BEGIN SOLUTION
valuesList = list(dictionary.values()) 
# END SOLUTION
print (valuesList)

[3, 17, 89, 192, 26, 68, 35, 16, 60, 42, 14, 57, 48, 20, 11, 65, 3, 1, 26, 27, 45, 31, 9, 19, 11, 12, 2, 11, 10, 13, 5, 3, 3, 10, 3, 2, 2, 1, 3, 22, 7, 3, 3, 3, 2, 4, 1, 4, 2, 2, 3, 1, 1, 1, 1, 1, 1, 2, 4, 4, 1, 1, 1, 1, 1, 1]

# END SOLUTION

# BEGIN TESTS

In [10]:
# BEGIN TEST CONFIG
points: 2
# END TEST CONFIG
def test_valueslist():
    assert list(dictionary.values()) == [3, 17, 89, 192, 26, 68, 35, 16, 60, 42, 14, 57, 48, 20, 11, 65, 3, 1, 26, 27, 45, 31, 9, 19, 11, 12, 2, 11, 10, 13, 5, 3, 3, 10, 3, 2, 2, 1, 3, 22, 7, 3, 3, 3, 2, 4, 1, 4, 2, 2, 3, 1, 1, 1, 1, 1, 1, 2, 4, 4, 1, 1, 1, 1, 1, 1]
test_valueslist()  # IGNORE

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q5

**Question 5:** Merge the two lists into a tuple

# BEGIN SOLUTION

In [11]:
# BEGIN SOLUTION
keys_tuple = tuple(keysList)
values_tuple = tuple(valuesList)
final_tuple = (keys_tuple, values_tuple)
# END SOLUTION
print(final_tuple)

(('T', 'h', 'e', ' ', 'f', 'o', 'l', 'w', 'i', 'n', 'g', 's', 'a', 'm', 'p', 't', 'x', 'I', 'u', 'd', 'r', 'c', 'k', 'y', 'b', '.', ':', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'S', 'V', '’', '0', ',', '(', ')', 'q', 'A', 'v', 'F', '-', '{', '}', 'O', '[', ']', 'W', '<', 'N', '>', '`', '*', '^', '“', '”', '‘', 'E', '/', '\\'), (3, 17, 89, 192, 26, 68, 35, 16, 60, 42, 14, 57, 48, 20, 11, 65, 3, 1, 26, 27, 45, 31, 9, 19, 11, 12, 2, 11, 10, 13, 5, 3, 3, 10, 3, 2, 2, 1, 3, 22, 7, 3, 3, 3, 2, 4, 1, 4, 2, 2, 3, 1, 1, 1, 1, 1, 1, 2, 4, 4, 1, 1, 1, 1, 1, 1))

# END SOLUTION

# BEGIN TESTS

In [12]:
# BEGIN TEST CONFIG
points: 2
# END TEST CONFIG
def test_tuple():
    assert final_tuple == (('T', 'h', 'e', ' ', 'f', 'o', 'l', 'w', 'i', 'n', 'g', 's', 'a', 'm', 'p', 't', 'x', 'I', 'u', 'd', 'r', 'c', 'k', 'y', 'b', '.', ':', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'S', 'V', '’', '0', ',', '(', ')', 'q', 'A', 'v', 'F', '-', '{', '}', 'O', '[', ']', 'W', '<', 'N', '>', '`', '*', '^', '“', '”', '‘', 'E', '/', '\\'), (3, 17, 89, 192, 26, 68, 35, 16, 60, 42, 14, 57, 48, 20, 11, 65, 3, 1, 26, 27, 45, 31, 9, 19, 11, 12, 2, 11, 10, 13, 5, 3, 3, 10, 3, 2, 2, 1, 3, 22, 7, 3, 3, 3, 2, 4, 1, 4, 2, 2, 3, 1, 1, 1, 1, 1, 1, 2, 4, 4, 1, 1, 1, 1, 1, 1))
test_tuple()

# END TESTS

# END QUESTION

# BEGIN QUESTION 
name: q6
points: 10

**Question 6:**  Write a function `greatest_common_divisor` that takes two inputs `a` and `b` and returns the greatest common divisor of the two numbers. E.g. input `(10, 15)` would return `5`

# BEGIN SOLUTION

In [13]:
def greatest_common_divisor(a, b):
    # BEGIN SOLUTION
    aa = a if a < b else b
    divisors = [i for i in range(1, aa+1) if a % i == 0 and b % i == 0]
    return divisors[-1]
    # END SOLUTION

# END SOLUTION

# BEGIN TESTS

In [14]:
assert_equal(greatest_common_divisor(10, 15), 5)

In [15]:
# HIDDEN
assert_equal(greatest_common_divisor(15, 19), 1)

In [16]:
# HIDDEN
assert_equal(greatest_common_divisor(100, 105), 5)

In [17]:
# HIDDEN
assert_equal(greatest_common_divisor(4, 2), 2)

In [18]:
# HIDDEN
assert_equal(greatest_common_divisor(20, 16), 4)

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q7
points: 10

**Question 7:**  Write a function `get_nearest_farthest` that takes in a point of interest (pt) and a list of points and returns the nearest point and the farthest point from the point of intest.

# BEGIN SOLUTION

In [19]:
def get_nearest_farthest(pt, ptlist):
    # BEGIN SOLUTION
    def dist(a, b):
        x1, y1 = a
        x2, y2 = b
        return math.sqrt((y2 - y1)**2 + (x2 - x1)**2)
    
    pts = sorted([(ptt, dist(pt, ptt)) for ptt in ptlist], key=lambda tp: tp[1])
    return pts[0][0], pts[-1][0]
    # END SOLUTION

# END SOLUTION

# BEGIN TESTS

In [20]:
assert_equal(get_nearest_farthest((3, 8), [(9, 3), (8,5), (7,6)]), ((7, 6), (9, 3)))

In [21]:
# HIDDEN
assert_equal(get_nearest_farthest((12,8), [(5,9), (9,1), (2,4), (13,9), (10,12)]), ((13, 9), (2, 4)))

In [22]:
# HIDDEN
assert_equal(get_nearest_farthest((5,8), [(5,9), (9,1), (2,4), (13,9), (10,12)]), ((5, 9), (13, 9)))

In [23]:
# HIDDEN
assert_equal(get_nearest_farthest((12,2), [(5,9), (9,1), (2,4), (13,9), (10,12)]), ((9, 1), (10, 12)))

In [24]:
# HIDDEN
assert_equal(get_nearest_farthest((12, 2), [(9, 3), (8,5), (7,6)]), ((9, 3), (7, 6)))

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q8
points: 5

**Question 8:**  Write a function `perfectly_divisible` to return a list of numbers between 0 and a number $N$ that are perfectly divisible by $q$ (with out leaving a remainder). <br>
**Hint**: $N$ should also be inclusive in the numbers being considered. If N is negative use N == 20

# BEGIN SOLUTION

In [25]:
def perfectly_divisible(N, q):
    # BEGIN SOLUTION
    N = 20 if N < 0 else N
    return [num for num in range(N+1) if num%q == 0]
    # END SOLUTION

# END SOLUTION

# BEGIN TESTS

In [26]:
assert_equal(perfectly_divisible(10,2), [0,2,4,6,8,10])

In [27]:
# HIDDEN
assert_equal(perfectly_divisible(-10,2), [0,2,4,6,8,10,12,14,16,18,20])

In [28]:
# HIDDEN
assert_equal(perfectly_divisible(6,4), [0,4])

In [29]:
# HIDDEN
assert_equal(perfectly_divisible(-6,4), [0, 4, 8, 12, 16, 20])

In [30]:
# HIDDEN
assert_equal(perfectly_divisible(56,24), [0, 24, 48])

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q9
points: 4

**Question 9:**  Write a function `flatten_lists` that takes in a list of lists and outputs a sorted list of elements of sublists of the input list (confusing right?) <br>
Example: given `flatten_lists([[2,13,44], [6,7]])` it should return `[2,6,7,13,44]`

# BEGIN SOLUTION

In [31]:
def flatten_lists(superlist):
    # BEGIN SOLUTION
    answer = []
    for i in superlist:
        for j in i:
            answer.append(j)
    return sorted(answer)
    # END SOLUTION

# END SOLUTION

# BEGIN TESTS

In [32]:
assert_equal(flatten_lists([[2,13,44], [6,7]]), [2, 6, 7, 13, 44])

In [33]:
# HIDDEN
assert_equal(flatten_lists([[2], [61,34,5,8,9]]), [2, 5, 8, 9, 34, 61])

In [34]:
# HIDDEN
assert_equal(flatten_lists([[3,2,1,5], [8,9], [5,4,4,6]]), [1, 2, 3, 4, 4, 5, 5, 6, 8, 9])

In [35]:
# HIDDEN
assert_equal(flatten_lists([[3,2,1,5], [8,9], [5,4,4,6], [3]]), [1, 2, 3, 3, 4, 4, 5, 5, 6, 8, 9])

# END TESTS

# END QUESTION

**The Extra Mile!**

**Download the dataset "Nakuru Sensor Data for February 2023 from https://open.africa/dataset/sensorsafrica-airquality-archive-nakuru/resource/14165682-37dd-4f40-914e-eb24619e4ef8"**

Load the 'timestamp','value_type' and 'value' collumns into a pandas dataframe

In [36]:
import pandas as pd
from functools import reduce

#Load the 'timestamp','value_type' and 'value' collumns into a pandas dataframe 
#path to my csv
my_csv_path='Nakuru_Sensor_Data_Feb_2023.csv'
#we use a separation delimiter ; for our data
df = pd.read_csv(my_csv_path,sep=';',usecols=['timestamp','value_type','value'])

print(df)

                              timestamp   value_type  value
0      2023-02-04T04:22:51.323124+00:00     humidity    100
1      2023-02-04T04:22:51.323124+00:00  temperature     12
2      2023-02-04T04:22:51.323125+00:00           P2     27
3      2023-02-04T04:22:51.323125+00:00           P1     59
4      2023-02-04T04:25:32.354784+00:00     humidity    100
...                                 ...          ...    ...
42985  2023-02-24T07:51:55.687329+00:00  temperature     27
42986  2023-02-24T07:54:35.530536+00:00     humidity     59
42987  2023-02-24T07:54:35.530536+00:00  temperature     27
42988  2023-02-24T07:54:35.530545+00:00           P2      0
42989  2023-02-24T07:54:35.530545+00:00           P1      0

[42990 rows x 3 columns]

# BEGIN QUESTION
name: q_E1

**Question E1:** Create a new collumn 'timestamp_new' from 'timestamp' rounded off to the second

# BEGIN SOLUTION

In [37]:
# BEGIN SOLUTION
df['timestamp'] = pd.to_datetime(df['timestamp'], infer_datetime_format=True)
df['timestamp_new'] = df['timestamp'].dt.round('S') # SOLUTION #rounded off to the next second
# END SOLUTION
print(df)

                             timestamp   value_type  value  \
0     2023-02-04 04:22:51.323124+00:00     humidity    100
1     2023-02-04 04:22:51.323124+00:00  temperature     12
2     2023-02-04 04:22:51.323125+00:00           P2     27
3     2023-02-04 04:22:51.323125+00:00           P1     59
4     2023-02-04 04:25:32.354784+00:00     humidity    100
...                                ...          ...    ...
42985 2023-02-24 07:51:55.687329+00:00  temperature     27
42986 2023-02-24 07:54:35.530536+00:00     humidity     59
42987 2023-02-24 07:54:35.530536+00:00  temperature     27
42988 2023-02-24 07:54:35.530545+00:00           P2      0
42989 2023-02-24 07:54:35.530545+00:00           P1      0

                  timestamp_new
0     2023-02-04 04:22:51+00:00
1     2023-02-04 04:22:51+00:00
2     2023-02-04 04:22:51+00:00
3     2023-02-04 04:22:51+00:00
4     2023-02-04 04:25:32+00:00
...                         ...
42985 2023-02-24 07:51:56+00:00
42986 2023-02-24 07:54:36+00:00
42987 2023-02-24 07:54:36+00:00
42988 2023-02-24 07:54:36+00:00
42989 2023-02-24 07:54:36+00:00

[42990 rows x 4 columns]

# END SOLUTION

# END QUESTION

# BEGIN QUESTION
name: q_E2

**Question E2:** Split the dataframe based on the 'value_type' collumn

# BEGIN SOLUTION

In [38]:
grouped = df.groupby(df.value_type) # SOLUTION
df_temperature = grouped.get_group("temperature") # SOLUTION
df_humidity = grouped.get_group("humidity") # SOLUTION
df_P1 = grouped.get_group("P1") # SOLUTION
df_P2 = grouped.get_group("P2") # SOLUTION

# END SOLUTION

# END QUESTION

# BEGIN QUESTION
name: q_E3

**Question E3:** Find the mean, mode and median of the humidity, temperature, P1 and P2 values

# BEGIN SOLUTION

In [39]:
# BEGIN SOLUTION
#from scipy import stats
mu_temp, med_temp, sd_temp = np.mean(df_temperature['value']), np.median(df_temperature['value']), df_temperature['value'].mode()[0]
# END SOLUTION
print("Temperature")
print("Mean = ",mu_temp, "Median = ", med_temp, "Mode = ", sd_temp)

# BEGIN SOLUTION
mu_humidity, med_humidity, sd_humidity = np.mean(df_humidity['value']), np.median(df_humidity['value']), df_humidity['value'].mode()[0]
# END SOLUTION
print("Humidity")
print("Mean = ",mu_humidity, "Median = ", med_humidity, "Mode = ", sd_humidity)

# BEGIN SOLUTION
mu_P1, med_P1, sd_P1 = np.mean(df_P1['value']), np.median(df_P1['value']), df_P1['value'].mode()[0]
# END SOLUTION
print("P1")
print("Mean = ",mu_P1, "Median = ", med_P1, "Mode = ", sd_P1)

# BEGIN SOLUTION
mu_P2, med_P2, sd_P2 = np.mean(df_P2['value']), np.median(df_P2['value']), df_P2['value'].mode()[0]
# END SOLUTION
print("P2")
print("Mean = ",mu_P2, "Median = ", med_P2, "Mode = ", sd_P2)

Temperature
Mean =  22.35287548855388 Median =  22.0 Mode =  14
Humidity
Mean =  64.31109249953471 Median =  61.0 Mode =  100
P1
Mean =  28.508605451669922 Median =  20.0 Mode =  0
P2
Mean =  11.30142338822216 Median =  8.0 Mode =  0

# END SOLUTION

# END QUESTION

# BEGIN QUESTION
name: q_E4

**Question E4:** Merge the grouped dataframes into one dataframe and save it as newdata.csv

# BEGIN SOLUTION

In [40]:
# BEGIN SOLUTION
df_merged = df_temperature.merge(df_humidity,how='left', on='timestamp_new',suffixes=('_temperature', '_humidity'))
df_merged = df_merged.merge(df_P1,how='left', on='timestamp_new',suffixes=('_prev', '_P1'))
df_merged = df_merged.merge(df_P2,how='left', on='timestamp_new',suffixes=('_P1', '_P2'))
# END SOLUTION
print(df_merged)

from pathlib import Path  
filepath = Path('newdata.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df_merged.to_csv(filepath)  
df_merged

                 timestamp_temperature value_type_temperature  \
0     2023-02-04 04:22:51.323124+00:00            temperature
1     2023-02-04 04:25:32.354784+00:00            temperature
2     2023-02-04 04:28:12.716734+00:00            temperature
3     2023-02-04 04:30:52.437513+00:00            temperature
4     2023-02-04 04:33:32.677578+00:00            temperature
...                                ...                    ...
10741 2023-02-24 07:43:55.358126+00:00            temperature
10742 2023-02-24 07:46:35.195100+00:00            temperature
10743 2023-02-24 07:49:15.756956+00:00            temperature
10744 2023-02-24 07:51:55.687329+00:00            temperature
10745 2023-02-24 07:54:35.530536+00:00            temperature

       value_temperature             timestamp_new  \
0                     12 2023-02-04 04:22:51+00:00
1                     11 2023-02-04 04:25:32+00:00
2                     12 2023-02-04 04:28:13+00:00
3                     12 2023-02-04 04:30:52+00:00
4                     12 2023-02-04 04:33:33+00:00
...                  ...                       ...
10741                 26 2023-02-24 07:43:55+00:00
10742                 26 2023-02-24 07:46:35+00:00
10743                 26 2023-02-24 07:49:16+00:00
10744                 27 2023-02-24 07:51:56+00:00
10745                 27 2023-02-24 07:54:36+00:00

                    timestamp_humidity value_type_humidity  value_humidity  \
0     2023-02-04 04:22:51.323124+00:00            humidity             100
1     2023-02-04 04:25:32.354784+00:00            humidity             100
2     2023-02-04 04:28:12.716734+00:00            humidity             100
3     2023-02-04 04:30:52.437513+00:00            humidity             100
4     2023-02-04 04:33:32.677578+00:00            humidity             100
...                                ...                 ...             ...
10741 2023-02-24 07:43:55.358126+00:00            humidity              60
10742 2023-02-24 07:46:35.195100+00:00            humidity              60
10743 2023-02-24 07:49:15.756956+00:00            humidity              59
10744 2023-02-24 07:51:55.687329+00:00            humidity              59
10745 2023-02-24 07:54:35.530536+00:00            humidity              59

                          timestamp_P1 value_type_P1  value_P1  \
0     2023-02-04 04:22:51.323125+00:00            P1      59.0
1     2023-02-04 04:25:32.355326+00:00            P1      51.0
2     2023-02-04 04:28:12.715838+00:00            P1      56.0
3     2023-02-04 04:30:52.437520+00:00            P1      56.0
4     2023-02-04 04:33:32.678818+00:00            P1     117.0
...                                ...           ...       ...
10741 2023-02-24 07:43:55.409324+00:00            P1       0.0
10742 2023-02-24 07:46:35.195110+00:00            P1       7.0
10743 2023-02-24 07:49:15.757782+00:00            P1       1.0
10744 2023-02-24 07:51:55.687147+00:00            P1       0.0
10745 2023-02-24 07:54:35.530545+00:00            P1       0.0

                          timestamp_P2 value_type_P2  value_P2
0     2023-02-04 04:22:51.323125+00:00            P2      27.0
1     2023-02-04 04:25:32.355326+00:00            P2      27.0
2     2023-02-04 04:28:12.715838+00:00            P2      23.0
3     2023-02-04 04:30:52.437520+00:00            P2      25.0
4     2023-02-04 04:33:32.678818+00:00            P2      31.0
...                                ...           ...       ...
10741 2023-02-24 07:43:55.409324+00:00            P2       0.0
10742 2023-02-24 07:46:35.195110+00:00            P2       7.0
10743 2023-02-24 07:49:15.757782+00:00            P2       1.0
10744 2023-02-24 07:51:55.687147+00:00            P2       0.0
10745 2023-02-24 07:54:35.530545+00:00            P2       0.0

[10746 rows x 13 columns]

,timestamp_temperature,value_type_temperature,value_temperature,timestamp_new,timestamp_humidity,value_type_humidity,value_humidity,timestamp_P1,value_type_P1,value_P1,timestamp_P2,value_type_P2,value_P2
0,2023-02-04 04:22:51.323124+00:00,temperature,12,2023-02-04 04:22:51+00:00,2023-02-04 04:22:51.323124+00:00,humidity,100,2023-02-04 04:22:51.323125+00:00,P1,59.0,2023-02-04 04:22:51.323125+00:00,P2,27.0
1,2023-02-04 04:25:32.354784+00:00,temperature,11,2023-02-04 04:25:32+00:00,2023-02-04 04:25:32.354784+00:00,humidity,100,2023-02-04 04:25:32.355326+00:00,P1,51.0,2023-02-04 04:25:32.355326+00:00,P2,27.0
2,2023-02-04 04:28:12.716734+00:00,temperature,12,2023-02-04 04:28:13+00:00,2023-02-04 04:28:12.716734+00:00,humidity,100,2023-02-04 04:28:12.715838+00:00,P1,56.0,2023-02-04 04:28:12.715838+00:00,P2,23.0
3,2023-02-04 04:30:52.437513+00:00,temperature,12,2023-02-04 04:30:52+00:00,2023-02-04 04:30:52.437513+00:00,humidity,100,2023-02-04 04:30:52.437520+00:00,P1,56.0,2023-02-04 04:30:52.437520+00:00,P2,25.0
4,2023-02-04 04:33:32.677578+00:00,temperature,12,2023-02-04 04:33:33+00:00,2023-02-04 04:33:32.677578+00:00,humidity,100,2023-02-04 04:33:32.678818+00:00,P1,117.0,2023-02-04 04:33:32.678818+00:00,P2,31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10741,2023-02-24 07:43:55.358126+00:00,temperature,26,2023-02-24 07:43:55+00:00,2023-02-24 07:43:55.358126+00:00,humidity,60,2023-02-24 07:43:55.409324+00:00,P1,0.0,2023-02-24 07:43:55.409324+00:00,P2,0.0
10742,2023-02-24 07:46:35.195100+00:00,temperature,26,2023-02-24 07:46:35+00:00,2023-02-24 07:46:35.195100+00:00,humidity,60,2023-02-24 07:46:35.195110+00:00,P1,7.0,2023-02-24 07:46:35.195110+00:00,P2,7.0
10743,2023-02-24 07:49:15.756956+00:00,temperature,26,2023-02-24 07:49:16+00:00,2023-02-24 07:49:15.756956+00:00,humidity,59,2023-02-24 07:49:15.757782+00:00,P1,1.0,2023-02-24 07:49:15.757782+00:00,P2,1.0
10744,2023-02-24 07:51:55.687329+00:00,temperature,27,2023-02-24 07:51:56+00:00,2023-02-24 07:51:55.687329+00:00,humidity,59,2023-02-24 07:51:55.687147+00:00,P1,0.0,2023-02-24 07:51:55.687147+00:00,P2,0.0
10745,2023-02-24 07:54:35.530536+00:00,temperature,27,2023-02-24 07:54:36+00:00,2023-02-24 07:54:35.530536+00:00,humidity,59,2023-02-24 07:54:35.530545+00:00,P1,0.0,2023-02-24 07:54:35.530545+00:00,P2,0.0

# END SOLUTION

# END QUESTION

# BEGIN QUESTION
name: q_E5

**Question E5:** Open the new data file and select only 'timestamp_new','value_temperature','value_humidity','value_P1' and 'value_P2' collunms

# BEGIN SOLUTION

In [41]:
# BEGIN SOLUTION
new_df = pd.read_csv(r'newdata.csv',usecols=['timestamp_new','value_temperature','value_humidity','value_P1','value_P2'])
# END SOLUTION
new_df

,value_temperature,timestamp_new,value_humidity,value_P1,value_P2
0,12,2023-02-04 04:22:51+00:00,100,59.0,27.0
1,11,2023-02-04 04:25:32+00:00,100,51.0,27.0
2,12,2023-02-04 04:28:13+00:00,100,56.0,23.0
3,12,2023-02-04 04:30:52+00:00,100,56.0,25.0
4,12,2023-02-04 04:33:33+00:00,100,117.0,31.0
...,...,...,...,...,...
10741,26,2023-02-24 07:43:55+00:00,60,0.0,0.0
10742,26,2023-02-24 07:46:35+00:00,60,7.0,7.0
10743,26,2023-02-24 07:49:16+00:00,59,1.0,1.0
10744,27,2023-02-24 07:51:56+00:00,59,0.0,0.0
10745,27,2023-02-24 07:54:36+00:00,59,0.0,0.0

# END SOLUTION

# END QUESTION

# BEGIN QUESTION
name: q_E6

**Question E6:** Replace the missing values in collumns 'value_P1' and 'value_P2' with the mean of the same collumns

# BEGIN SOLUTION

In [42]:
#Check for missing values 
missing_values = pd.isnull(new_df['value_P1']) # SOLUTION

# displaying data only with NaN
new_df[missing_values] # SOLUTION

,value_temperature,timestamp_new,value_humidity,value_P1,value_P2
7,13,2023-02-04 04:41:33+00:00,100,NaN,NaN
90,29,2023-02-04 08:23:06+00:00,43,NaN,NaN
102,29,2023-02-04 08:55:07+00:00,37,NaN,NaN
113,30,2023-02-04 09:24:30+00:00,38,NaN,NaN
119,31,2023-02-04 09:40:35+00:00,36,NaN,NaN
...,...,...,...,...,...
10671,14,2023-02-24 04:37:08+00:00,100,NaN,NaN
10685,17,2023-02-24 05:14:28+00:00,97,NaN,NaN
10714,21,2023-02-24 06:31:52+00:00,82,NaN,NaN
10721,22,2023-02-24 06:50:33+00:00,73,NaN,NaN
10727,23,2023-02-24 07:06:35+00:00,71,NaN,NaN

In [43]:
#print("The mean of P1",new_df['value_P2'].mean())
#print("The mean of P2",new_df['value_P1'].mean())

#replace missing values with the mean 
# BEGIN SOLUTION
new_df['value_P1'].fillna(new_df['value_P1'].mean(), inplace=True) 
new_df['value_P2'].fillna(new_df['value_P2'].mean(), inplace=True) 
# BEGIN SOLUTION

#Check for missing values after the replacement operation 
missing_values = pd.isnull(new_df['value_P2']) # SOLUTION

# displaying data only with NaN (if any) after the replacement operation 
# BEGIN SOLUTION
new_df[missing_values] 
# END SOLUTION
new_df

,value_temperature,timestamp_new,value_humidity,value_P1,value_P2
0,12,2023-02-04 04:22:51+00:00,100,59.0,27.0
1,11,2023-02-04 04:25:32+00:00,100,51.0,27.0
2,12,2023-02-04 04:28:13+00:00,100,56.0,23.0
3,12,2023-02-04 04:30:52+00:00,100,56.0,25.0
4,12,2023-02-04 04:33:33+00:00,100,117.0,31.0
...,...,...,...,...,...
10741,26,2023-02-24 07:43:55+00:00,60,0.0,0.0
10742,26,2023-02-24 07:46:35+00:00,60,7.0,7.0
10743,26,2023-02-24 07:49:16+00:00,59,1.0,1.0
10744,27,2023-02-24 07:51:56+00:00,59,0.0,0.0
10745,27,2023-02-24 07:54:36+00:00,59,0.0,0.0

# END SOLUTION

# END QUESTION

# BEGIN QUESTION
name: q_E7

**Question E7:** Compute the correlations between temperature and humidity; P1 and P2

# BEGIN SOLUTION

In [44]:
#Correlation between temperature and humidity
# BEGIN SOLUTION
corr_temp_hum = new_df['value_temperature'].corr(new_df['value_humidity'])
# END SOLUTION

print ("Correlation between temparature and humidity",corr_temp_hum)

#Correlation between P1 and P2
# BEGIN SOLUTION
corr_p1_p2 = new_df['value_P1'].corr(new_df['value_P2'])
# END SOLUTION

print ("Correlation between P1 and P2",corr_p1_p2)

Correlation between temparature and humidity -0.9028239849182673
Correlation between P1 and P2 0.8737116522386157

# END SOLUTION

# END QUESTION

# BEGIN QUESTION
name: q_E8

**Question E8:** Create a new dataframe comprising of the average values of the variables by day

# BEGIN SOLUTION

In [45]:
# BEGIN SOLUTION
new_df['timestamp_new'] = pd.to_datetime(df['timestamp_new'], infer_datetime_format=True) 
new_df['timestamp_new'] = df['timestamp_new'].dt.floor('D')  
# END SOLUTION
means_feb = new_df.groupby('timestamp_new').mean() # SOLUTION
means_feb

,value_temperature,value_humidity,value_P1,value_P2
timestamp_new,,,,
2023-02-04 00:00:00+00:00,22.312783,62.269231,22.238116,7.992069
2023-02-05 00:00:00+00:00,22.171759,68.225926,28.581513,12.713282
2023-02-06 00:00:00+00:00,22.223562,61.916048,35.707610,13.767627
2023-02-07 00:00:00+00:00,22.747227,65.021719,33.478613,13.287828
2023-02-08 00:00:00+00:00,22.932282,62.166976,25.792692,9.879168
2023-02-09 00:00:00+00:00,18.371345,74.260234,1.719791,0.784689

# END SOLUTION

# END QUESTION

# BEGIN QUESTION
name: q_E9

**Question E9:** Download the dataset "Nakuru Sensor Data for November 2021 from https://open.africa/dataset/sensorsafrica-airquality-archive-nakuru/resource/1f11351e-156b-4e4c-a063-b86a6ee07c4a"

Load the data into a pandas dataframe and develop a dataframe similar to what you have just done in Question no's 6 - 13 above

# BEGIN SOLUTION

In [46]:
# BEGIN SOLUTION
#Import only the 'timestamp','value_type'and'value' collumns 
df_nov = pd.read_csv(r'Nakuru_Sensor_Data_Nov_2021.csv',sep = ';') 

#Create a new collumn 'timestamp_new' from 'timestamp' rounded off to the second
df_nov['timestamp'] = pd.to_datetime(df_nov['timestamp'], infer_datetime_format=True)
df_nov['timestamp_new'] = df_nov['timestamp'].dt.floor('S')

#Group the data by value_type 
grouped_nov = df_nov.groupby(df_nov.value_type)
df_temperature_nov = grouped_nov.get_group("temperature")
df_humidity_nov = grouped_nov.get_group("humidity")
df_P1_nov = grouped_nov.get_group("P1")
df_P2_nov= grouped_nov.get_group("P2")

#print("New timestamp",df_P2_nov['timestamp_new'])

#Create a new dataframe by merging the grouped data frames 
df_merged_nov = df_temperature_nov.merge(df_humidity_nov,how='left', on='timestamp_new',suffixes=('_temperature', '_humidity'))
df_merged_nov = df_merged_nov.merge(df_P1_nov,how='left', on='timestamp_new',suffixes=('_prev', '_P1'))
df_merged_nov = df_merged_nov.merge(df_P2_nov,how='left', on='timestamp_new',suffixes=('_P1', '_P2'))
#print("Merged November - ",df_merged_nov)

#Open the new file 
from pathlib import Path  
filepath = Path('newdata_nov.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df_merged_nov.to_csv(filepath)  

new_df_nov = pd.read_csv(r'newdata_nov.csv',usecols=['timestamp_new','value_temperature','value_humidity','value_P1','value_P2'])
#new_df_nov 

#replace missing values with the mean 
new_df_nov['value_P1'].fillna(new_df_nov['value_P1'].mean(), inplace=True) 
new_df_nov['value_P2'].fillna(new_df_nov['value_P2'].mean(), inplace=True) 

#Create a new dataframe comprising of the average values of the variables by day
new_df_nov['timestamp_new'] = pd.to_datetime(new_df_nov['timestamp_new'], infer_datetime_format=True)
new_df_nov['timestamp_new'] = new_df_nov['timestamp_new'].dt.floor('D')
# END SOLUTION
means_nov = new_df_nov.groupby('timestamp_new').mean() # SOLUTION
means_nov

,value_temperature,value_humidity,value_P1,value_P2
timestamp_new,,,,
2021-11-08 00:00:00+00:00,22.686364,58.345455,15.630461,7.453988
2021-11-09 00:00:00+00:00,20.658672,70.549815,17.660227,9.380498
2021-11-10 00:00:00+00:00,19.238722,76.812030,16.701885,9.655554
2021-11-11 00:00:00+00:00,18.610200,77.810565,22.339171,12.062515
2021-11-12 00:00:00+00:00,21.483636,62.605455,15.782991,8.350538
2021-11-13 00:00:00+00:00,20.445455,68.125455,15.699063,8.076514
2021-11-14 00:00:00+00:00,20.840445,65.487941,13.231398,7.141338
2021-11-15 00:00:00+00:00,19.716946,70.808194,16.817734,9.020470
2021-11-16 00:00:00+00:00,16.784672,87.235401,23.040520,13.219563
2021-11-17 00:00:00+00:00,20.812727,65.520000,20.094118,11.903355
2021-11-18 00:00:00+00:00,20.660036,64.589512,17.037333,8.820608
2021-11-19 00:00:00+00:00,19.675373,72.738806,23.953518,12.015432
2021-11-20 00:00:00+00:00,20.258590,73.309222,98.767968,63.060507
2021-11-21 00:00:00+00:00,19.734545,75.543636,18.985610,10.767766
2021-11-22 00:00:00+00:00,21.287273,59.676364,14.702265,7.723609
2021-11-23 00:00:00+00:00,17.869444,70.538889,21.311898,10.154738
2021-11-24 00:00:00+00:00,20.692168,65.519126,23.472725,10.063291
2021-11-25 00:00:00+00:00,18.238616,83.597450,24.031706,13.935697
2021-11-26 00:00:00+00:00,20.249091,79.381818,23.578989,14.231670
2021-11-27 00:00:00+00:00,20.527372,76.246350,18.454243,10.707223
2021-11-28 00:00:00+00:00,19.262774,87.664234,12.800815,7.363455
2021-11-29 00:00:00+00:00,19.217391,91.449275,14.431821,9.389554
2021-11-30 00:00:00+00:00,19.886861,79.702555,8.779496,4.687329

# END SOLUTION

# END QUESTION

# BEGIN QUESTION
name: q_E10

**Question E10:** Convert the means_feb and means_nov to numpy arrays ... and then compute the average of each collumn

Hint: The results are numpy arrays

# BEGIN SOLUTION

In [47]:
feb_numpy_array = means_feb.to_numpy() # SOLUTION
feb_average = np.mean(feb_numpy_array, axis = 0) # SOLUTION
feb_average

array([21.79315977, 65.64335563, 24.58638918,  9.7374438 ])

In [48]:
nov_numpy_array = means_nov.to_numpy() # SOLUTION
nov_average = np.mean(nov_numpy_array, axis = 0) # SOLUTION
nov_average

array([19.94945098, 73.18511072, 21.62199812, 12.1384875 ])

# END SOLUTION

# END QUESTION

# BEGIN QUESTION
name: q_E11

**Question E11:** Write a function to compute the difference in the average temperature, humidity, P1 and P2 between November 2021 and February 2023

Hint: The result is a vector of the form [w,x,y,z]

# BEGIN SOLUTION

In [49]:
def sub():
    # BEGIN SOLUTION
    diff = []
    for i in range(len(nov_average)):
        result = nov_average[i] - feb_average[i]
        diff.append(result)
    # END SOLUTION
    return diff
 
# Print the result of the subtraction
difference = sub()
print(difference)

[-1.843708786643539, 7.541755088501233, -2.9643910619456335, 2.401043706184998]

# END SOLUTION

# END QUESTION